---
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter/>
    <meta
      name="description"
      content="HIPERSTICIÓN es un thriller cyberpunk donde tus ideas reescriben la realidad. Lo que imaginás puede alterar el pasado, desbloquear futuros y destruirte en el proceso."
    />
  </head>
  <body>
    <div>
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    background: #13151a;
    color: #fff;
    font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  }

  body {
    @apply grid place-content-center py-[4rem];
  }

  body > div {
    @apply container;
  }
</style>
